<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <script>
        // Cek apakah token JWT tersedia di localStorage
        const token = localStorage.getItem('jwtToken');

        if (token) {
            // Jika sudah ada token, langsung arahkan ke Halaman Produk
            window.location.replace('/products-view');
        } else {
            // Jika belum ada token, arahkan ke Halaman Login
            window.location.replace('/login');
        }
    </script>
</head>
<body>
</body>
</html>